@model EPT.ViewModels.RelatorioAcervoDetalheViewModel

@{
    ViewData["Title"] = "Detalhe";
}

<div class="col-12">
    <nav class="navbar navbar-expand-lg">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
        </button>
    </nav>
</div>

<br />

<div class="alterar">
    <h4>Acervo</h4>
</div>
<hr />

<div class="alterar">
    
    <dl class="row">
        <div class="row">
            <dt class="col-2">
                EPT n°
            </dt>
            <dd class="col-2">
                @Html.DisplayFor(model => model.n_ept)
            </dd>
            <dt class="col-2">
                Acervo nº
            </dt>
            <dd class="col-2">
                @Html.DisplayFor(model => model.n_acervo)
            </dd>
        </div>
        
        <div class="row">
        
            <dt class="col-2">
                Profissional
            </dt>
            <dd class="col-2">
                @Html.DisplayFor(model => model.profissional)
            </dd>
            <dt class="col-2">
                Função no contrato
            </dt>
            <dd class="col-2">
                @Html.DisplayFor(model => model.funcao)
            </dd>
        </div>
        <div class="row">

            <dt class="col-2">
                Data Inicio
            </dt>
            <dd class="col-2">
                @Model.dt_inicio.ToString("dd/MM/yyyy")
            </dd>
            <dt class="col-2">
                Data Fim
            </dt>
            <dd class="col-2">
                @Model.dt_fim.ToString("dd/MM/yyyy")
            </dd>
        </div>
    </dl>

    <h4>Atestado</h4>
    <hr />
    <dl class="row">
        <div class="row">
            <dt class="col-2">
                Data inicio
            </dt>
            <dd class="col-2">
                @Html.DisplayFor(model => model.atestado.dt_inicio)
            </dd>

            <dt class="col-1">
                Data fim
            </dt>
            <dd class="col-2">
                @Html.DisplayFor(model => model.atestado.dt_fim)
            </dd>
            <dt class="col-1">
                @Html.DisplayNameFor(model => model.atestado.valor)
            </dt>
            <dd class="col-2">
                @Html.DisplayFor(model => model.atestado.valor)
            </dd>
        </div>
        <div class="row"> 
            <dt class="col-sm-2">
                Contratante
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.atestado.Contratante.contratante)
            </dd>
        </div>
        <div class="row">
            
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.atestado.objeto)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.atestado.objeto)
            </dd>
            <dt class="col-sm-2">
               Descrição
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.atestado.descricao)
            </dd>
            
        </div>
    </dl>

    <h4>Itens do contrato</h4>
    <hr />
    <div>
        <table class="table table-striped">
                <thead>
                    <tr>
                    <th style="font-size:17px">
                            Item
                        </th>
                    
                    <th style="font-size:17px">
                            Unidade
                        </th>
                    <th style="font-size:17px">
                            Quantidade
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.itens)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Item)
                            </td>
                        
                            <td>
                                @Html.DisplayFor(modelItem => item.unidade)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.quantidade)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

    </div>
    
</div>
<div class="alterar ">
    <a href="@Url.Action("Acervo1")" class="btn btn-danger">Voltar</a>

</div>
